#qwe{
    background-color: #F7CAC9;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 0%;
}
.qwe h1{
    font-size: 40px;
    text-align: center;
    color: #FF6F61;
}
.qwe #po{
    text-align: center;
    font-size: 30px;
    color: #34568B;
}
.qwe #op{
    text-align: center;
    font-size: 30px;
    
}
fieldset {
    background-color: #eeeeee;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    text-align: center;
    border-radius: 2%;
  
  }
 
  #xx h1{
      text-align: center;
      font-size: 40px;
  }
  #xx ul{
      
      font-size: 25px;
      
  }
  .xx h1{
      text-align: center;
  }
  .xx{
      font-size: 30px;
  }
  .xx .lk{
      padding-left: 50px;
      padding-right: 50px;
      font-size: 25px;
  }
  .xx li{
      text-align: center;
  }
  input[type=checkbox]{
    border: 2px solid;
    border-radius: 4px;
    width: 5%;    
  }
  input[type=radio]{
    border: 2px solid;
    border-radius: 4px;
    width: 5%;
  }
  .dd fieldset{
      font-size: 20px;
  }
  input[type=text] {
    border: 2px solid;
    border-radius: 4px;
    width: 30%;
    height: 30px;
  }
  .dd label{
      font-size: 25px;
  }
  .dd #ime{
      height: 30px;
      width: 150px;
  }
  .dd select{
      height: 30px;
      width: 150px;
  }
  .rr input {
    background-color: #FF6F61; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:160px;
  }
