
                .aaa{
                    background-color: peachpuff;
                    color:green; 
                    font-style: oblique;
                    font-size: 25px;
                }
                .bbb{
                    background-color :aquamarine; 
                    color: black;
                    font-style: italic; 
                    font-size: 25px;
                }
                .ccc{
                    background-color: springgreen; 
                    color: red; 
                    font-style: oblique;
                    font-size: 25px;
                }
